In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('deliveries.csv')

In [11]:
data.shape

(150460, 21)

In [31]:
data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

# Top 5 batsman according to highest runs

In [14]:
batsman_group = data.groupby('batsman')

In [46]:
# batsman_group.get_group('V Kohli')

In [42]:
batsman_group['batsman_runs'].sum().sort_values(ascending=False).head()

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

# Top 5 batsman who hitted maximum 6

In [62]:
mask1 = data['batsman_runs'] == 6

fourth = data[mask1]

In [64]:
fourth.shape[0]   # total no of boundries in ipl(6th)

17033

In [68]:
fourth.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head()

batsman
G Gambhir    484
SK Raina     402
DA Warner    401
S Dhawan     401
V Kohli      384
Name: batsman_runs, dtype: int64

In [70]:
fourth.groupby('batsman')['batsman_runs'].size().sort_values(ascending=False).head()

batsman
G Gambhir    484
SK Raina     402
DA Warner    401
S Dhawan     401
V Kohli      384
Name: batsman_runs, dtype: int64

# Virat kohli ne kin 3 teams ke against sabse zyada run maare hn

In [83]:
vk = data[data['batsman'] == 'V Kohli']

In [91]:
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(3)

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Name: batsman_runs, dtype: int64

In [96]:
data['batsman'].value_counts()

V Kohli          3494
G Gambhir        3433
SK Raina         3369
RG Sharma        3274
S Dhawan         3005
                 ...
Sunny Gupta         1
NJ Rimmington       1
DP Vijaykumar       1
S Kaushik           1
U Kaul              1
Name: batsman, Length: 461, dtype: int64

In [101]:
def highest_run_by_batsman(batsman):
    bats_man = data[data['batsman'] == batsman]
    return bats_man.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(1)

In [102]:
highest_run_by_batsman('G Gambhir')

bowling_team
Kings XI Punjab    671
Name: batsman_runs, dtype: int64